<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Static Sever Example Using Express</title>
    <link rel="stylesheet" href="css/style.css">
</head>

<body>
    <div id="container">
        <h1>You are not Welcome to the Express Static Website Example</h1>
        <nav>
            <a href="#">Home</a>
            <a href="about.html">about</a>
            <a href="contact.html">contact</a>
        </nav>
        <img src="images/grogu.jpeg" alt="baby yoda" width=400>
        <div style="width:400px;">
            <p>Eu cillum Lorem mollit non. Occaecat sunt quis nostrud fugiat nostrud reprehenderit ullamco. Cillum
                occaecat occaecat do irure. Elit aute id dolore non veniam id deserunt et consequat. Sint reprehenderit
                cillum Lorem culpa do aliqua fugiat sunt.</p>
        </div>
    </div>
</body>

</html>